body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: rgb(68, 67, 67);
}

h1 {
  font-size: 60px;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: 100;
  text-transform: capitalize;
}

h3 {
  font-size: 14px;
  font-weight: 100;
  text-align: center;
}

h4 {
  font-size: 14px;
  font-weight: 100;
}

.weather-app-wrapper {
  margin: 30px auto;
  max-width: 700px;
}

.weather-app {
  background-color: rgb(252, 246, 239);
  border: 1px solid rgb(68, 67, 67);
  border-radius: 10px;
  padding: 20px;
}

.main-content {
  margin: 80px auto;
}

.temp-units {
  font-size: 20px;
  font-weight: 100;
  position: relative;
}

.temp-units a {
  color: rgb(68, 67, 67);
  text-decoration: none;
}

.temp-units .active {
  font-weight: 600;
}

.form-control {
  border: none;
  font-size: 14px;
  font-weight: 100;
}

.search-button {
  background-color: rgb(255, 255, 255);
  border: none;
  font-size: 14px;
}

.left-col {
  border-right: 2px solid rgb(209, 10, 10);
  text-align: center;
}

.right-col {
  margin-top: 72px;
}

.main-content-icons {
  color: rgb(68, 67, 67);
  text-align: right;
}

.main-content-text {
  text-align: left;
}

.weather-forecast-day {
  margin: 30px auto;
  text-align: center;
}

.weather-forecast-icon {
  color: rgb(68, 67, 67);
  margin: 20px auto;
}
